.caja{
    border: 1px solid black;
}
.conetendor{
    width: 1400px;
    margin: 0 auto;
}
.tabla1, .grupo1{
    border: 1px solid black;
    width: 1000px;
}
.liColor:hover{
    background-color: black;
}
h2:target, h3:target, h4:target, h5:target{
    background-color: red;
}
td:empty{
    background-color: gray;
}
td:not(:empty){
    background-color: rgb(54, 218, 54);
}
p::first-line{
    background-color: white;
}
.inicial::first-letter{
    font-size: 50px;
    font-weight: 1000;
    color: red;
}
::selection{
    background-color: yellow;
}